.cards {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px;
  gap: 15px;
  justify-content: center;
  margin: 0 auto 70px;
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
  }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
  }
}

@media (max-width: 300px) {
  .cards {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
  }
}