* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
}

button { cursor: pointer; }

html {
  --white: #FCFCFC;
  --yellow: #FDA215;
  --blue-dark: #162938;
  --blue-medium: #BDCFDA;
  --blue-light: #DFE6EC;

  font-size: 10px;
}

body {
  padding: 25px 10px;
  background-color: var(--blue-dark);
}

.metrics {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 480px) {
  html {
    font-size: 9.5px;
  }

  .metrics {
    grid-template-columns: 170px 170px;
  }
}

@media (max-width: 400px) {
  .metrics {
    grid-template-columns: 280px;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 9px;
  }

  .metrics {
    grid-template-columns: 240px;
  }
}